@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-100 text-neutral-800  dark:bg-neutral-900 dark:text-neutral-100 tracking-[0.15px];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white text-2xl mb-1 font-medium font-sans;
  }

  h1,
  h2 {
    @apply tracking-normal;
  }

  p {
    word-spacing: 0.15px;
    @apply text-neutral-600 dark:text-neutral-300 text-base font-normal mb-3 max-w-[55ch] font-serif;
  }
}
